{% extends "base.html" %}
{% block content %}
{% if messages %}
<div class="alert alert-success">
    <ul>
        <li>{{messages}}</li>
    </ul>
</div>
{% endif %}
<!--Etusivu-->
<h1>Jalkapalloon sovellettu Elo-rankingjärjestelmä</h1>

<br>
<br>

<p>
    <a href="{{base_path}}/login" class="btn btn-success">Kirjaudu</a>
    <a href="{{base_path}}/register" class="btn btn-danger">Rekisteröidy</a>
</p>

<!-- Tähän alle eri sarjat, mikäli ehdin rakentaa järjestelmän useammalle-->

<br>
<br>

<p>
    <a href="http://lallimyl.users.cs.helsinki.fi/tsoha/teams" class="btn btn-default">Valioliiga</a>
</p>

{% endblock %}