{% extends "base.html" %}
{% block content %}
<h1>Leicester - Southampton</h1>

<br>
<!-- Painikkeet tähän -->
<p>
    <button class="btn btn-danger">Poista</button> <a href="http://lallimyl.users.cs.helsinki.fi/tsoha/suunnitelmat/match_edit" class="btn btn-default">Muokkaa</a>
</p>

<br>
<!-- Tiedot alle -->
<ul>
    <li><strong>Pvm:</strong> 3.4.2016</li>
    <li><strong>Kotijoukkue:</strong> Leicester</li>
    <li><strong>Vierasjoukkue:</strong> Southampton</li>
    <li><strong>Kotimaalit:</strong> 3</li>
    <li><strong>Vierasmaalit:</strong> 1</li>
</ul>


{% endblock %}