{% extends "base.html" %}
{% block content %}
<h1>Valioliiga</h1>
<br>
<br>
<p>
    <a href="http://lallimyl.users.cs.helsinki.fi/tsoha/suunnitelmat/team_add" class="btn btn-default">Lisää joukkue</a>
    <a href="http://lallimyl.users.cs.helsinki.fi/tsoha/suunnitelmat/match_add" class="btn btn-default">Lisää ottelu</a>
</p>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Ranking</th>
            <th>Nimi</th>
            <th>Elo-vertailuluku</th>
            <th>Viimeisin ottelu</th>
        </tr>
    </thead>

    <tbody>
        <!-- Listataan joukkueet. Myöhemmin järjestyksessä Elo-vertailuluvun mukaan-->
        <tr>
            <td>1</td>
            <td><a href="http://lallimyl.users.cs.helsinki.fi/tsoha/suunnitelmat/esittely">Leicester</a></td>
            <td>3400</td>
            <td>3.4.2016</td>
            <th><a class="btn btn-default btn-sm" href="http://lallimyl.users.cs.helsinki.fi/tsoha/suunnitelmat/team_edit">Muokkaa</a></th>
        </tr>
        <tr>
            <td>2</td>
            <td><a href="#">Tottenham</a></td>
            <td>3200</td>
            <td>2.4.2016</td>
            <th><a class="btn btn-default btn-sm" href="#">Muokkaa</a></th>
        </tr>
    </tbody>
</table>
{% endblock %}