{% extends "base.html" %}
{% block content %}

{% if errors %}
<div class="alert alert-danger">
    <ul>
        {% for error in errors %}
        <li>{{error}}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}


<h1>Muokkaa ottelua</h1>

<form method="post" action="{{base_path}}/match/{{attributes.id}}/edit">
    <div class="form-group">
        <label>Ottelun päivämäärä (vvvv-kk-pp):</label>
        <input type="text" name="date" class="form-control" value="{{attributes.date}}">
    </div>

    <div class="form-group">
        <label>Kotijoukkue:</label>
        <input type="text" name="home_name" class="form-control" value="{{home_name}}">
    </div>

    <div class="form-group">
        <label>Vierasjoukkue:</label>
        <input type="text" name="away_name" class="form-control" value="{{away_name}}">
    </div>

    <div class="form-group">
        <label>Kotimaalit:</label>
        <input type="text" name="home_goals" class="form-control" value="{{attributes.home_goals}}">
    </div>

    <div class="form-group">
        <label>Vierasmaalit:</label>
        <input type="text" name="away_goals" class="form-control" value="{{attributes.away_goals}}">
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Muokkaa ottelua</button>
    </div>
</form>
{% endblock %}